body{
    background-color: rgb(33, 37, 41);
}
footer{
    background-color: rgb(33, 37, 41);
}
/* descripcion */
.container-descripcion{
    margin: 30px 50px 30px 50px;
}

/* aplicacion - formulario */
.container-aplicacion{
    margin: 30px 0px 30px 0px;
}
.was-validated{
    margin-top: 20px;
    border: 0px;
    padding: 0px 80px 0px 80px;
}
.btn-form-app {
    margin: 0 auto;
    display: block;
}
/* colaboradores */
.colaboradores{
    margin: 30px 0px 30px 0px;
}
.card-group{
    margin-top: 20px;
    border: 0px;
    padding: 0px 15px 0px 15px;
}
/*test*/
.white-line {
    border-top: 1px solid white;
}
